
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #FFFFFFE5;
   
}

.container img{
    width: 100px;
    border-radius: 10px;
    
}
